body {
    background: #F1F9FB;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.show-all ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
@media only screen and (min-width:1001px) {
    .show-all ul {
    width: 800px;
   }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .show-all ul {
    width: 600px;
   }
}
@media only screen and (max-width:600px) {
    .show-all ul {
    width: 400px;
   }
}
.show-all ul li {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 0px;
    background: rgba(255, 255, 255, .4);
    margin: 40px;
    position: relative;
}

/*------------------------------------------------loading-1*/
.battery {
    width: 40px;
    height: 20px;
    border: 1px solid #25282E;
    position: relative;
    top:50px;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-animation: charge 3s linear infinite;
        -moz-animation: charge 3s linear infinite;
        animation: charge 3s linear infinite;
}
.battery::after {
    content: "";
    width: 3px;
    height: 10px;
    background: #25282E;
    position: absolute;
    top: 5px;
    left: 42px; /*电池宽度40+边框2*/
    border-radius: 0 2px 2px 0;
}
@-webkit-keyframes charge {
    0% {box-shadow: inset 0 0 0 #25282E;}
    100% {box-shadow: inset 50px 0 0 #25282E;}
}
@-moz-keyframes charge {
    0% {box-shadow: inset 0 0 0 #25282E;}
    100% {box-shadow: inset 50px 0 0 #25282E;}
}
@keyframes charge {
    0% {box-shadow: inset 0 0 0 #25282E;}
    100% {box-shadow: inset 50px 0 0 #25282E;}
}
/*------------------------------------------------loading-2*/
.circle {
    width: 30px;
    height: 30px;
    border: 1px solid #25282E;
    border-radius: 50%;
    margin: 45px auto;
    -webkit-animation: rotation 43s ease-in-out infinite;
        -moz-animation: rotation 3s ease-in-out infinite;
        animation: rotation 3s ease-in-out infinite;
    position: relative;
}
.circle::after {
    width: 5px;
    height: 5px;
    background: #25282e;
    border-radius: 50%;
    position: absolute;
    content: "";
    left: 13px;

}
@-webkit-keyframes rotation {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotattion {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@keyframes rotattion {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
/*------------------------------------------------loading-3*/
.litle-circle {
    width: 8px;
    height: 8px;
    background-color: rgba(37, 40, 46, 1);
    border-radius: 50%;
    margin: 56px auto;
    position: absolute;
    left: 38px;
    -webkit-animation: typing 1s linear infinite alternate;
        -moz-animation: typing 1s linear infinite alternate;
        animation: typing 1s linear infinite alternate; 
}
@-webkit-keyframes typing {
    0%{background-color: rgba(37, 40, 46, 1);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, .2);}
    25% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, 1),
                    32px 0 0 rgba(37, 40, 46, .2)}
    75% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, 1)}
}
@-moz-keyframes typing {
    0% {background-color: rgba(37, 40, 46, 1);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, .2);}
    25% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, 1),
                    32px 0 0 rgba(37, 40, 46, .2)}
    75% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, 1)}
}
@keyframes typing {
    0% {background-color: rgba(37, 40, 46, 1);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, .2);}
    25% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, 1),
                    32px 0 0 rgba(37, 40, 46, .2)}
    75% {background-color: rgba(37, 40, 46, .2);
        box-shadow: 16px 0 0 rgba(37, 40, 46, .2),
                    32px 0 0 rgba(37, 40, 46, 1)}
}
/*------------------------------------------------loading-4*/
.two-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(37, 40, 46, .5);
    box-shadow: -12px 0 0 rgba(37, 40, 46, 1);
    margin: 57px auto;
    -webkit-animation: cirl 1s ease-in-out infinite alternate;
        -moz-animation: cirl 1s ease-in-out infinite alternate;
        animation: cirl 1s ease-in-out infinite alternate;
}
@-webkit-keyframes cirl {
    0% {opacity: 0.1; -webkit-transform: rotate(0deg) scale(1);}
    100% {opacity: 1; -webkit-transform: rotate(360deg) scale(1.5);}
}
@-moz-keyframes cirl {
    0% {opacity: 0.1; -moz-transform: rotate(0deg) scale(1);}
    100% {opacity: 1; -moz-transform: rotate(360deg) scale(1.5);}
}
@keyframes cirl {
    0% {opacity: 0.1; transform: rotate(0deg) scale(1);}
    100% {opacity: 1; transform: rotate(360deg) scale(1.5);}
}
/*------------------------------------------------loading-5*/
.dashboard {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(37, 40, 46, 0);
    border: 1px solid rgba(37, 40, 46, 1);
    overflow: hidden;
    margin: 43px auto;
    position: relative;
    z-index: 1;
}
.dashboard::before, .dashboard::after {
    position: absolute;
    content: "";
}
.dashboard::before {
    width: 32px;
    height: 20px;
    background: rgba(37, 40, 46, 1); 
    top: 20px;
    left: 0px;
}
.dashboard::after {
    width: 14px;
    height: 2px;
    top: 20px;
    left: 15px;
    background: rgba(37, 40, 46, 1);
    -webkit-transform-origin: 1px 1px;
        -moz-transform-origin: 1px 1px;
        transform-origin: 1px 1px;
    -webkit-animation: dashboard-hand 1s linear infinite alternate;
        -moz-animation: dashboard-hand 1s linear infinite alternate;
        animation: dashboard-hand 1s linear infinite alternate;
}
@-webkit-keyframes dashboard-hand {
    0% {-webkit-transform: rotate(-160deg);}
    100% {-webkit-transform: rotate(-20deg);}
}
@-moz-keyframes dashboard-hand {
    0% {-moz-transform: rotate(-160deg);}
    100% {-moz-transform: rotate(-20deg);}
}
@keyframes dashboard-hand {
    0% {transform: rotate(-160deg);}
    100% {transform: rotate(-20deg);}
}
/*------------------------------------------------loading-6*/
.cloud {
    width: 6px;
    height: 14px;
    background: rgba(37, 40, 46, 1);
    margin: 53px 32px;
    position: relative;
    box-shadow: 10px 0 0 0 rgba(37, 40, 46, 1),
                20px 0 0 0 rgba(37, 40, 46, 1),
                30px 0 0 0 rgba(37, 40, 46, 1),
                40px 0 0 0 rgba(37, 40, 46, 1),
                50px 0 0 0 rgba(37, 40, 46, 1);
    -webkit-animation: rain 3s linear infinite alternate;
        -moz-animation: rain 3s linear infinite alternate;
        animation: rain 3s linear infinite alternate;            
}
.cloud::after {
    content: "";
    width: 56px;
    height: 14px;
    background: rgba(37, 40, 46, 1);
    position: absolute;
    left: 0px;
    -webkit-animation: line-flow 3s linear infinite ;
        -moz-animation: line-flow 3s linear infinite ;
        animation: line-flow 3s linear infinite ;
}
@-webkit-keyframes rain {
    0%{box-shadow: 10px 0 0 0 rgba(37, 40, 46, .9),
                   20px 0 0 0 rgba(37, 40, 46, .8),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .4),
                   50px 0 0 0 rgba(37, 40, 46, .2);}
    100%{background: rgba(37, 40, 46, 0);
         box-shadow: 10px 0 0 0 rgba(37, 40, 46, .2),
                   20px 0 0 0 rgba(37, 40, 46, .4),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .8),
                   50px 0 0 0 rgba(37, 40, 46, 1);}            
}
@-moz-keyframes rain {
    0%{box-shadow: 10px 0 0 0 rgba(37, 40, 46, .9),
                   20px 0 0 0 rgba(37, 40, 46, .8),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .4),
                   50px 0 0 0 rgba(37, 40, 46, .2);}
    100%{background: rgba(37, 40, 46, 0);
         box-shadow: 10px 0 0 0 rgba(37, 40, 46, .2),
                   20px 0 0 0 rgba(37, 40, 46, .4),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .8),
                   50px 0 0 0 rgba(37, 40, 46, 1);}            
}
@keyframes rain {
    0%{box-shadow: 10px 0 0 0 rgba(37, 40, 46, .9),
                   20px 0 0 0 rgba(37, 40, 46, .8),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .4),
                   50px 0 0 0 rgba(37, 40, 46, .2);}
    100%{background: rgba(37, 40, 46, 0);
         box-shadow: 10px 0 0 0 rgba(37, 40, 46, .2),
                   20px 0 0 0 rgba(37, 40, 46, .4),
                   30px 0 0 0 rgba(37, 40, 46, .6),
                   40px 0 0 0 rgba(37, 40, 46, .8),
                   50px 0 0 0 rgba(37, 40, 46, 1);}            
}

@-webkit-keyframes line-flow {
    0%{width: 56px;}
    100% {width: 0; }
}
@-moz-keyframes line-flow {
    0%{width: 56px;}
    100% {width: 0; }
}
@keyframes line-flow {
    0%{width: 56px;}
    100% {width: 0; }
}
/*------------------------------------------------loading-7*/
.loading-7 {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(37, 40, 46, 1);
    margin: 49px auto;
    -webkit-animation: fill-color 3s linear infinite;
        -moz-animation: fill-color 3s linear infinite;
        animation: fill-color 3s linear infinite;
    position: relative;
}
.loading-7::after {
    position: absolute;
    top: -9px;
    left: -9px;
    content: "";
    width: 5px;
    height: 5px;
    background: rgba(37, 40, 46, 1);
    -webkit-animation: square-move 2s linear infinite;
        -moz-animation: square-move 2s linear infinite;
        animation: square-move 2s linear infinite;
}
@-webkit-keyframes fill-color {
    0% {box-shadow: inset 0 0 0 rgba(37, 40, 46, 0);}
    100% {box-shadow: inset 0 -23px 0 rgba(37, 40, 46, 1);}
}
@-moz-keyframes fill-color {
    0% {box-shadow: inset 0 0 0 rgba(37, 40, 46, 0);}
    100% {box-shadow: inset 0 -23px 0 rgba(37, 40, 46, 1);}
}
@keyframes fill-color {
    0% {box-shadow: inset 0 0 0 rgba(37, 40, 46, 0);}
    100% {box-shadow: inset 0 -23px 0 rgba(37, 40, 46, 1);}
}
@-webkit-keyframes square-move {
    25% {left: 26px; top: -9px;}
    50% {left: 26px; top: 26px;}
    75% {left: -9px; top: 26px;}
    100% {left: -9px; top: -9px;}
}
@-moz-keyframes square-move {
    25% {left: 26px; top: -9px;}
    50% {left: 26px; top: 26px;}
    75% {left: -9px; top: 26px;}
    100% {left: -9px; top: -9px;}
}
@keyframes square-move {
    25% {left: 26px; top: -9px;}
    50% {left: 26px; top: 26px;}
    75% {left: -9px; top: 26px;}
    100% {left: -9px; top: -9px;}
}
/*------------------------------------------------loading-8*/
.loading-8 {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(37, 40, 46, 1);
    border-radius: 50%;
    margin: 44px auto;
    position: relative;
}
.loading-8::before, .loading-8::after {
    position: absolute;
    top: 15px;
    left: 15px;
    content: "";
    background: rgba(37, 40, 46, 1);
    -webkit-transform-origin: 1px 1px;
        -moz-transform-origin: 1px 1px;
        transform-origin: 1px 1px;
    -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
}
.loading-8::before {
    width: 14px;
    height: 2px; 
    -webkit-animation: time-1 2s linear infinite;
        -moz-animation: time-1 2s linear infinite;
        animation: time-1 2s linear infinite;
}
.loading-8::after {
    width: 10px;
    height: 2px;
    -webkit-animation: time-2 6s linear infinite;
        -moz-animation: time-2 6s linear infinite;
        animation: time-2 6s linear infinite;
}
@-webkit-keyframes time-1 {
    0% {-webkit-transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(270deg);}
}
@-moz-keyframes time-1 {
    0% {-moz-transform: rotate(-90deg);}
    100% {-moz-transform: rotate(270deg);}
}
@keyframes time-1 {
    0% {transform: rotate(-90deg);}
    100% {transform: rotate(270deg);}
}
@-webkit-keyframes time-2 {
    0% {-webkit-transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(270deg);}
}
@-moz-keyframes time-2 {
    0% {-moz-transform: rotate(-90deg);}
    100% {-moz-transform: rotate(270deg);}
}
@keyframes time-2 {
    0% {transform: rotate(-90deg);}
    100% {transform: rotate(270deg);}
}
/*------------------------------------------------loading-9*/
.loading-9 {
    width: 30px;
    height: 14px;
    background: rgba(37, 40, 46, .2);
    border-radius: 50%;
    margin: 68px auto;
    position: relative;
}
.loading-9::after {
    position: absolute;
    top: -30px;
    left: 3px;
    content:"";
    width: 20px;
    height: 20px;
    border: 2px solid rgba(37, 40, 46, 1);
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-animation: move-9 1s linear infinite;
        -moz-animation: move-9 1s linear infinite;
        animation: move-9 1s linear infinite;
}
@-webkit-keyframes move-9 {
    0%{top: -30px;}
    50%{top: -25px;}
    100%{top: -30px;}
}
@-moz-keyframes move-9 {
    0%{top: -30px;}
    50%{top: -25px;}
    100%{top: -30px;}
}
@keyframes move-9 {
    0%{top: -30px;}
    50%{top: -25px;}
    100%{top: -30px;}
}
/*------------------------------------------------loading-10*/
.loading-10 {
    width: 20px;
    height: 22px;
    border-radius: 50%;
    border: 1px  solid rgba(37, 40, 46, 1);
    margin: 49px 35px;
    position: relative;
}
.loading-10::before {
    position: absolute;
    left: 30px;
    content: "";
    width: 20px;
    height: 22px;
    border-radius: 50%;
    border: 1px  solid rgba(37, 40, 46, 1);
}
.loading-10::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(37, 40, 46, 1);
    box-shadow: 30px 0 0 0 rgba(37, 40, 46, 1);
    top: 12px;
    left: 1px;
    -webkit-animation: eyes 2s ease-in-out infinite alternate;
        -moz-animation: eyes 2s ease-in-out infinite alternate;
        animation: eyes 2s ease-in-out infinite alternate;
}
@-webkit-keyframes eyes {
    0% {left: 1px}
    100% {left: 11px;}
}
@-moz-keyframes eyes {
    0% {left: 1px}
    100% {left: 11px;}
}
@keyframes eyes {
    0% {left: 1px}
    100% {left: 11px;}
}
/*------------------------------------------------loading-11*/
.loading-11 {
    width: 22px;
    height: 26px;
    border: 1px solid rgba(37, 40, 46, 1);
    border-radius: 0 0 6px 6px;
    margin: 45px 45px;
    position: relative;
}
.loading-11::before, .loading-11::after {
    position: absolute;
    content: "";
}
.loading-11::before {
    width: 6px;
    height: 15px;
    border: 1px solid rgba(37, 40, 46, 1);
    border-left: none;
    border-radius: 0 6px 14px 0;
    left: 24px;
    top: 1px;
}
.loading-11::after {
    width: 1px;
    height: 6px;
    background: rgba(37, 40, 46, 1);
    top: -10px;
    left: 3px;
    box-shadow: 7px 0 0 0 rgba(37, 40, 46, 1),
                7px -8px 0 0 rgba(37, 40, 46, 1),
                14px 0 0 0 rgba(37, 40, 46, 1);
    -webkit-animation: four 1s ease-out infinite;
        -moz-animation: four 1s ease-out infinite;
        animation: four 1s ease-out infinite;
}
@-webkit-keyframes four {
    0% {height: 6px;}
    50% {height: 0px;}
    100% {height: 0px;}
}
@-moz-keyframes four {
    0% {height: 6px;}
    50% {height: 0px;}
    100% {height: 0px;}
}
@keyframes four {
    0% {height: 6px;}
    50% {height: 0px;}
    100% {height: 0px;}
}
/*------------------------------------------------loading-12*/
.loading-12 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(37, 40, 46, 1);
    margin: 45px auto;
    position: relative;
    -webkit-animation:  scal 1s linear infinite alternate;
}
.loading-12::after {
    position: absolute;
    left: 18px;
    top: 18px;
    content: "";
    width: 2px;
    height: 8px;
    background: rgba(37, 40, 46, 1);
    border-radius: 1px;
    -webkit-transform-origin: 1px 1px;
        -moz-transform-origin: 1px 1px;
        transform-origin: 1px 1px;
    -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); 
   
}
@-webkit-keyframes scal {
    0% {-webkit-transform: scale(1)}
    100% {-webkit-transform: scale(1.5)}
}