body {
    background: #F1F9FB;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.show-all ul {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.show-all ul li {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 0px;
    background: rgba(255, 255, 255, .4);
    margin-right: 80px;
    margin-top: 80px;
}
.show-all ul li:nth-child(4n){
    margin-right: 0;
}
/*------------------------------------------------loading-1*/
.battery {
    width: 40px;
    height: 20px;
    border: 1px solid #25282E;
    position: relative;
    top:50px;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-animation: charge 3s linear infinite;
    -moz-animation: charge 3s linear infinite;
    animation: charge 3s linear infinite;
}
.battery::after {
    content: "";
    width: 3px;
    height: 10px;
    background: #25282E;
    position: absolute;
    top: 5px;
    left: 42px; /*电池宽度40+边框2*/
    border-radius: 0 2px 2px 0;
}
@keyframes charge {
    0% {box-shadow: inset 0 0 0 #25282E;}
    100% {box-shadow: inset 50px 0 0 #25282E;}
}