body {
    background: #F1F9FB;
    padding:1em calc(50% - 405px);
}
* {
    margin: 0;
    padding: 0;
}
.box-all {  
    text-align: center;  
    font-size:0;
    margin-top: 20px;
}
.box-1, .box-2{
   display: inline-block;
    width: 400px;
    height: 400px;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.box-1{
    margin-right: 20px;
}
/*------------------------------------------------------响应宽度*/
@media only screen and (min-width:1001px) {
    body{
    padding:1em calc(50% - 415px);
   }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .box-1, .box-2{
        margin-right: 0;
    }
    body{
    padding:1em calc(50% - 295px);
   }
}
@media only screen and (max-width:600px) {
    .box-1, .box-2{
        width: 280px;
        height: 280px;
        margin-right: 0;
    }
    body{
    padding:1em calc(50% - 215px);
   }
}
/*------------------------------------------------------box-1*/

.toggle-wrapper{
    position: absolute;;
    left: 50%;
    top: 50%; 
    margin-left: -60px;
    margin-top: -25px;
}
.toggle-wrapper input, .toggle-1 input {
    position: absolute;
    left: -99em;
}
.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 50px;
    background: #55BF96;
    border-radius:5px;
    box-shadow: inset 0 1px 2px #3a8d6d,
                inset 0 -2px 2px #66d7ac,
                inset -1px 0 2px #66d7ac,
                inset 2px 0 2px #3a8d6d;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before, .toggle:after {
    position: absolute;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    z-index: 4;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before {
    content: "OFF";
    left: 20px;
	color: #55BF96;
}
.toggle:after {
    content: "ON";
    right: 20px;
	color: #fff;
}
.toggle-handler {
    display: inline-block;
    z-index: 3;
    width: 65px;
    height: 44px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 3px;
    box-shadow:  1px 1px 2px rgba(0, 0, 0, .1),
                inset -1px -2px 2px #e4ecf5;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateX(0px);
	transform: translateX(0px);
}
input:checked + .toggle {
    background: #D0DCE9;
    box-shadow: inset 0 1px 2px #b9c7d7,
                inset 0 -2px 2px #e4ecf5,
                inset 1px 0 3px #c0ccdb,
                inset -2px 0 1px #e9eff6;
}
input:checked + .toggle:before {
    color: #fff;
}
input:checked + .toggle:after {
    color: #D0DCE9;
}
input:checked + .toggle .toggle-handler {
    width: 54px;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
}

/*------------------------------------------------------box-2*/
.checkbox {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 46px;
    background: #50C095;
    border-radius:5px;
}
.checkbox::after {
    position: absolute;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    content: "button";
    left: 30px;
    color: #fff;
    z-index: 4;
    
}
.checkbox::before {
    position: absolute;
    width: 120px;
    height: 46px;
    background: #3ba97f;
    border-radius:5px;
    content: "";
    top: 6px;
    left: 0px;
    z-index:-1;
    box-shadow: 0 6px 1px rgba(0, 0, 0, .1);
}
input:checked + .checkbox {
    top: 4px;
}
input:checked + .checkbox::before {
    top:2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}
