* {
    margin: 0;
    padding: 0;
}


/*-----------------------------------------------------------container-1*/
.container-1, .container-2 {
    width: 162px;
    height: 162px;
    background: #fff;
    border-radius: 50%;
    margin: 60px auto;
    position: relative;
    border: 4px solid #fff;
    overflow: hidden;
    box-shadow: 0 0  0 2px #ace;
}
.container-1:after, .container-1:before, .container-2:after, .container-2:before  {
    position: absolute;
    content: "";
    top: 50%;
    left: -65px;
    width: 300px;
    height: 300px;
    border-radius: 40%;
    background: rgba(170, 204, 238, .4);
    margin: 0 auto;
    transform: translate(-50%, -70%) rotate(0);
    -webkit-animation: rotates 6s linear infinite;
    -moz-animation: rotates 6s linear infinite;
    animation: rotates 6s linear infinite;
    
}
.container-1:before, .container-2:before {
    transform: translate(-50%, -70%) rotate(0);
    background: rgba(170, 204, 238, .8);
    -webkit-animation: rotates 10s linear -5s infinite;
    -moz-animation: rotates 10s linear -5s infinite;
    animation: rotates 10s linear -5s infinite;
}
@-webkit-keyframes rotates {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotates {
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@keyframes rotates {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/*-----------------------------------------------------------container-2*/
.container-2 {
    background: #ace;
}
.container-2:after, .container-2:before {
    top: -120%;
    left: -69px;
    background: rgba(255, 255, 255, .4);
}
.container-2:before {
    background: rgba(255, 255, 255, .8);
}
