* {
    margin: 0;
    padding: 0;
}
.wave-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ace;
    margin: 60px auto;
    position: relative;
    border: 4px solid #fff;
}
.wave-1::before {
    position: absolute;
    content: "";
    width: 166px;
    height: 166px;
    border-radius: 50%;
    background: #ace;
    z-index: -1;
    left: -8px;
    top: -8px;
}