* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

/*-----------------------------------------------------------*/
.leaf-all {
    width: 86px;
    height: 86px;
    position: relative;
}
.leaf:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #ace;
    opacity: 0.9;
    margin: 2px;
}
.leaf {
    position: absolute;
    width: 100%;
    height: 100%;
}
.leaf:before {
    border-radius: 0 50% 0 50%;
}
.leaf-1 {
    -webkit-animation: rotate1 3s ease-in-out infinite;
         -moz-animation: rotate1 3s ease-in-out infinite;
         animation: rotate1 3s ease-in-out infinite;
}
.leaf-2 {
    -webkit-animation: rotate2 3s ease-in-out infinite;
         -moz-animation: rotate2 3s ease-in-out infinite;
         animation: rotate2 3s ease-in-out infinite;
}
.leaf-3 {
    -webkit-animation: rotate3 3s ease-in-out infinite;
         -moz-animation: rotate3 3s ease-in-out infinite;
         animation: rotate3 3s ease-in-out infinite;
}
.leaf-4 {
    -webkit-animation: rotate4 3s ease-in-out infinite;
         -moz-animation: rotate4 3s ease-in-out infinite;
         animation: rotate4 3s ease-in-out infinite;
}
.leaf-all {
    -webkit-animation: rotate-all 3s linear infinite;
         -moz-animation: rotate-all 3s linear infinite;
         animation: rotate-all 3s linear infinite;
}
/*--------------------------------------------------*/
@-webkit-keyframes rotate-all {
    0% {-webkit-transform: rotate(0)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate-all {
    0% {-moz-transform: rotate(0)}
    100% {-webkit-transform: rotate(360deg)}
}
@keyframes rotate-all {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
/*--------------------------------------------------*/
@-webkit-keyframes rotate2 {
    0% {-webkit-transform: rotate(0)}
    30% {-webkit-transform: rotate(270deg)}
    70% {-webkit-transform: rotate(270deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate2 {
    0% {-moz-transform: rotate(0)}
    30% {-moz-transform: rotate(270deg)}
    70% {-moz-transform: rotate(270deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes rotate2 {
    0% {transform: rotate(0)}
    30% {transform: rotate(270deg)}
    70% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}
/*--------------------------------------------------*/
@-webkit-keyframes rotate3 {
    0% {-webkit-transform: rotate(0)}
    30% {-webkit-transform: rotate(180deg)}
    70% {-webkit-transform: rotate(180deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate3 {
    0% {-moz-transform: rotate(0)}
    30% {-moz-transform: rotate(180deg)}
    70% {-moz-transform: rotate(180deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes rotate3 {
    0% {transform: rotate(0)}
    30% {transform: rotate(180deg)}
    70% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}
/*--------------------------------------------------*/
@-webkit-keyframes rotate4 {
    0% {-webkit-transform: rotate(0)}
    30% {-webkit-transform: rotate(90deg)}
    70% {-webkit-transform: rotate(90deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate4 {
    0% {-moz-transform: rotate(0)}
    30% {-moz-transform: rotate(90deg)}
    70% {-moz-transform: rotate(90deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes rotate4 {
    0% {transform: rotate(0)}
    30% {transform: rotate(90deg)}
    70% {transform: rotate(90deg)}
    100% {transform: rotate(360deg)}
}

