*  {
    margin: 0;
    padding: 0;
}
  

/* --------------------------------------------------------------菜单栏-*/
    header {
        width: 100%;
        height: 4.5em;
        background: #15191A;
        position: relative;
        
    }
/* ----------------------------------------------定位菜单图标-*/

    .lines {
        position: absolute;
        top: 50%;
        left: 10%;
        margin-top: -11px;
        cursor: pointer;

    }
/* ---------------------------------统一设置三条细线的样式和动画-*/

    .lines span{
        display: block;
        width: 25px;
        height:2px;
        background: #fff;
        margin: 4px 0;
        
    }
    .button span{
        -webkit-animation: all 1s ease-in-out 1;
        animation: all 1s ease-in-out 1;
    }
/* ------------------------------------调用每一条细线的动画名称-*/

    .button:hover span:nth-child(1) {
        -webkit-animation-name: top;
        animation-name: top;
    }
    .button:hover span:nth-child(2) {
        -webkit-animation-name: mid;
        animation-name: mid;
    }
    .button:hover span:nth-child(3) {
        -webkit-animation-name: bot;
        animation-name: bot;
    }
/* ------------------------------------------------设置关键帧-*/

    @-webkit-keyframes top {             /*------------上移--*/
        0% { transform: translate(0,0)}
        50% { transform: translate(0,-10px)}
        60% { transform: translate(0,-10px)}
        100% { transform: translate(0,0)}
    }
    @keyframes top{
        0% { transform: translate(0,0)}
        50% { transform: translate(0,-10px)}
        60% { transform: translate(0,-10px)}
        100% { transform: translate(0,0)}
    }

    @-webkit-keyframes mid {               /*-----------旋转--*/
        0% { transform: rotate(0deg)}
        100% { transform: rotate(180deg)}
    }
    @keyframes mid {                               
        0% { transform: rotate(0deg)}
        100% { transform: rotate(180deg)}
    }

    @-webkit-keyframes bot {           /*-----------下移--*/
        0% { transform: translate(0,0)}
        50% { transform: translate(0,10px)}
        60% { transform: translate(0,10px)}
        100% { transform: translate(0,0)}
    }
    @keyframes bot {                
        0% { transform: translate(0,0)}
        50% { transform: translate(0,10px)}
        60% { transform: translate(0,10px)}
        100% { transform: translate(0,0)}
    }


li {
    list-style: none;
}
.wrapper {
    text-align: center;
}
.wrapper .box .row {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 2em; 
    border-radius: 12px;
    border: 1px solid #ddd; 
    position: relative; 
    overflow: hidden; 
}

/*--------------------------------------------练习1*/
.wrapper .box .row .bg {
    width: 100%;
    height: 100%;
}
.wrapper .box .exe-1 .bg {
    background: url(../exercise-1/one.png) no-repeat top center;
    background-size: auto 250px;     
}
.wrapper .box .row .span {
    width: 300px;
    height: 250px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-size: 20px;
    line-height: 250px;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}
.wrapper .box .row .span:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .8);
}
wrapper .box .row .bg:hover {
    filter:alpha(opacity=10);  
      -moz-opacity:0.1;  
      -khtml-opacity: 0.1;  
      opacity: 0.1; 
}
/*--------------------------------------------练习2*/
.wrapper .box .exe-2 .bg {
    background: url(../exercise-2/two.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习3*/
.wrapper .box .exe-3 .bg {
    background: url(../exercise-3/three.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习4*/
.wrapper .box .exe-4 .bg {
    background: url(../exercise-4/four.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习5*/
.wrapper .box .exe-5 .bg {
    background: url(../exercise-5/five.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习6*/
.wrapper .box .exe-6 .bg {
    background: url(../exercise-6/six.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习7*/
.wrapper .box .exe-7 .bg {
    background: url(../exercise-7/seven.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习8*/
.wrapper .box .exe-8 .bg {
    background: url(../exercise-8/eight.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习9*/
.wrapper .box .exe-9 .bg {
    background: url(../exercise-9/nine.png) no-repeat top center;
    background-size: auto 250px;
}
/*--------------------------------------------练习10*/
.wrapper .box .exe-10 .bg {
    background: url(../exercise-10/ten.png) no-repeat top center;
    background-size: auto 250px;
}