*  {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

header {
    width: 100%;
    background-color: #15191A;
    margin: 0 auto;
    height: 4.5em;
}
.wrapper {
  width: 1000px;
  height: 700px;
  background: #fce;
  margin: 0 auto;
}

.wrapper ul > li {
    float:left;
    width: 300px;
    height: 250px;
    margin-right: 2.3em;
    margin-top: 2em;   
}
.wrapper ul > li {
    border-radius: 12px;
}
.wrapper ul > li {
    background: #EFF9FA;
}
.wrapper ul > li:nth-child(2n+1) {
    background: #F4F6FB;
}

.wrapper ul > li:nth-child(3n){
    margin-right: 0;
    background: #ace;
}
.span {
    
    
}