*  {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

header {
    width: 100%;
    background-color: #15191A;
    margin: 0 auto;
    height: 4.5em;
}
main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #fce;
}
.wrapper ul > li {
    float:left;
    width: 300px;
    height: 250px;
    margin-right: 2em;
    margin-top: 2em;   
}
.wrapper ul > li {
    border-radius: 12px;
}
.wrapper ul > li {
    background: #EFF9FA;
}
.wrapper ul > li:nth-child(2n+1) {
    background: #F4F6FB;
}

.wrapper ul > li:last-child{
    margin-right: 0;
}
.span {
    
    
}